body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('VDia.png');
  background-size: cover;
  margin: 0;
}

#game {
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: url('VDia.png');
  background-size: cover;
  background-position: bottom;
  transform: scale(2);
  transform-origin: center;
}

#Oveja {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 60px;
  height: 60px;
  background-image: url('Oveja2-.png');
  background-size: cover;
  animation: trot 0.5s steps(2) infinite;
}

@keyframes trot {
  0% { background-image: url('Oveja2-.png'); }
  50% { background-image: url('Oveja2-2-.png'); }
  100% { background-image: url('Oveja2-.png'); }
}

@keyframes jump {
  0% { bottom: 0; background-image: url('Oveja2-.png'); }
  50% { bottom: 200px; background-image: url('Oveja2-.png'); }
  100% { bottom: 0; background-image: url('saltoOV.png'); }
}

.Oveja-crouch {
  left: 50px;
  width: 60px;
  height: 60px;
  bottom: 00px;
  background-image: url('AgachoOV2.png');
  background-size: cover;
}

.Valla {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 60px;
  background-image: url('Valla-.png');
  background-size: cover;
}

.Halcon {
  position: absolute;
  width: 60px;
  height: 30px;
  background-image: url('Ave-.png');
  background-size: cover;
  animation: fly 1s infinite;
}

@keyframes fly {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

#score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  color: black;
}

#game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: red;
  font-family: Arial, sans-serif;
}
