body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('VDia.png');
  background-size: cover;
  margin: 0;
}

#game {
  position: relative;
  width: 1000px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: url('VDiav2.png');
  background-size: cover;
  background-position: bottom;
  animation: scrollBackground 10s linear infinite;
}

@keyframes scrollBackground {
  0% { background-position: 0 0; }
  100% { background-position: -500px 0; }
}

#Oveja {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 60px;
  height: 60px;
  background-image: url('Oveja2-.png');
  background-size: cover;
  animation: trot 0.7s steps(2) infinite;
}

@keyframes trot {
  0% { background-image: url('Oveja2-.png'); }
  50% { background-image: url('Oveja2-2-.png'); }
  100% { background-image: url('Oveja2-.png'); }
}

@keyframes jump {
  0% { bottom: 10px; background-image: url('Oveja2-.png'); }
  50% { bottom: 200px; background-image: url('saltoOV.png'); }
  100% { bottom: 10px; background-image: url('Oveja2-.png'); }
}

.Oveja-crouch {
  left: 10px;
  width: 10px;
  height: 10px;
  bottom: 0px;
  background-image: url('Oveja22-.png');
  background-size: cover;
}

.Valla {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url('Valla-.png');
  background-size: cover;
}

.Halcon {
  position: absolute;
  width: 60px;
  height: 30px;
  background-image: url('Ave-.png');
  background-size: cover;
  animation: fly 1s infinite;
}

@keyframes fly {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

#score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  color: black;
}

#game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: rgb(0, 132, 255);
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Estilos específicos para dispositivos móviles */
.mobile #game {
  width: 3000px;
  height: 10px;
  transform: scale(1);
}

.mobile #Oveja {
  width: 30px;
  height: 30px;
  left: 20px;
}

.mobile .Valla, .mobile .Halcon {
  width: 30px;
  height: 30px;
}

.mobile #score {
  font-size: 20px;
}

.mobile #game-over {
  font-size: 75px;
}
#boton-galeria-1 {
  position: fixed;
  top: 0px;
  left: -60px;
  z-index: 9999;
}

#boton-galeria-2 {
  position: fixed;
  top: 110px;
  left: -60px;
  z-index: 9999;
}

#boton-galeria-3 {
  position: fixed;
  top: 140px;
  right: -35.5px;
  z-index: 10000;
}

/* Tamaño de los botones de cambio de página */
#boton-galeria-1 a img{
  width: 100px;  /* Ancho deseado */
  height: 100px; /* Alto deseado */
  border-radius: 8px; /* Mantener el radio de borde para la apariencia redondeada */
}

/* Ajustar el tamaño del contenedor si es necesario */
.boton-galeria {
  width: 220px; /* Ajusta este tamaño según sea necesario */
  height: 220px; /* Ajusta este tamaño según sea necesario */
}

.boton-galeria a {
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}

.boton-galeria a img {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.boton-galeria a img:hover {
  transform: scale(1.1);
}
